dt {
   color: grey;
}

dd {
   font-weight: bold;
   margin-left: 0;
   font-family: monospace;
}

dl {
   margin: 0;
}

[data-role="listview"] dd {
   font-size: 1.3rem;
}

[data-role="listview"] h1 {
   text-align: center;
   font-size: 1.6rem;
   margin-top: -0.5rem;
   margin-bottom: 0.3rem;
}

[data-role="listview"] + [data-role="button"] {
   margin-top: 15px;
   margin-left: -16px;
   margin-right: -16px;
}

[data-role="listview"] .ui-link-inherit {
   padding-bottom: 0 !important;
}


#details h2 {
   text-align: center;
   margin: 0;
   font-size: 1.5rem;
}

#details dt {
   font-size: 0.9rem;
}

#details dd {
   font-size: 1.3rem;
   padding-bottom: 1rem;
}

.danger .ui-btn-inner {
   background-color: red;
}


@media (min-width: 25rem) {
   #passwords [data-role="content"] .ui-block-b > * {
      margin-left: 3rem;
   }
}

@media (max-width: 25rem) {
   #passwords [data-role="content"] .ui-block-a,
   #passwords [data-role="content"] .ui-block-b {
      width: 100%;
      float: none;
   }
   
   #passwords [data-role="content"] .ui-block-b > * {
      margin-left: 0;
   }
   
}

@media (max-width: 40rem) {
   [data-role="listview"] dd {
      font-size: 1.1rem;
   }
   
   [data-role="listview"] dt {
      font-size: 0.8rem;
   }
   
   [data-role="listview"] h1 {
      font-size: 1.3rem;
   }
}